html
{
height: 100%;
font-family: Arial, Helvetica, Times New Roman;
}
h1
{
margin: 0px;
padding: 0px;
margin-top: -20px;
}
body
{
margin: 0px;
padding: 0px;
}
#main
{
background-color: #000000;
width: 420px;
height: 420px; 
color: #ffffff;
margin-left: 50px; 
margin-top: 20px;
border-width: 15px;
border-color: #ff0000;
border-style: solid;
padding: 25px;
line-height: 25px;
}
table, th, tr,td
{
border-width: 1px;
border-style:solid;
border-color: #48f60c;
border: 1px solid #8af808;
border-collapse: collapse;
font-family: Arial, Helvetica, Times New Roman; /* pagwla si default, use one font, 2nd font to 3rd font*/
padding: 3px;
font-size: 12px;
}
th
{
background-color: #6eb817;
color: #ffffff;
text-align: left;
font-size: 14px;
border: 1px solid #8af808;
}
.col4
{
width:200px;
}
.odd2
{
background-color:#ffffff;
}
.even2
{
background-color: #b9f672;
}
