<script>
function prime(){

var counter1,number,counter2,counter;
number = document.getElementById("number").value;
  for(counter1=1;counter1<=number;counter1++){  //numbers to be checked as prime

          counter = 0; 
          for(counter2=1;counter2<=counter1;counter2++){ //all divisible factors


                if(counter1 % counter2==0){ 

                      counter++;
                }
          }

        //prime requires 2 rules ( divisible by 1 and divisible by itself)
        if(counter==2){

               console.log(counter1+" is Prime");
        }
    }
} 
prime();
</script>
<input type="text" id="number">
<button onClick="prime()">Show Prime Nos.</button>
